---
- name: Render traefik config
  template:
    src: traefik.toml.j2
    dest: "{{ traefik_directory }}/traefik.toml"
  when: not traefik_consul_enable
  notify: restart traefik

- name: Render traefik config for seeding
  template:
    src: traefik.toml.j2
    dest: "{{ traefik_directory }}/traefik.toml"
  when: traefik_consul_enable

- name: Render docker-compose config
  template:
    src: docker-compose.yml.j2
    dest: "{{ traefik_compose }}"
    validate: "docker-compose -f %s config -q"

- name: Ensure acme config
  file:
    path: "{{ traefik_directory }}/acme.json"
    state: touch
    mode: 0600
  when: traefik_acme_enable and not traefik_consul_enable
  changed_when: false

- name: Pull Docker image
  docker_image:
    name: traefik
    source: pull
    tag: "{{ traefik_version }}"
