---
version: 2
jobs:
  test_swarm:
    machine:
      image: circleci/classic:latest
      docker_layer_caching: false
    steps:
      - checkout
      - run:
          name: Run tests
          command: make test SCENARIO="--scenario-name swarm"
  test_default:
    machine:
      image: circleci/classic:latest
      docker_layer_caching: false
    steps:
      - checkout
      - run:
          name: Run tests
          command: make test SCENARIO="--scenario-name default"
workflows:
  version: 2
  run_all:
    jobs:
      - test_swarm
      - test_default
