# {{ ansible_managed }}
version: '{{ traefik_compose_version }}'

services:
{% if traefik_consul_enable %}
  consul:
    image: consul:1.6
    command: agent -server -bootstrap-expect=1
    volumes:
      - consul-data:/consul/data
    environment:
      - CONSUL_LOCAL_CONFIG={"datacenter":"pn1","server":true}
      - CONSUL_BIND_INTERFACE=eth0
      - CONSUL_CLIENT_INTERFACE=eth0
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure
    networks:
      - traefik_lan
{% endif %}
  traefik:
    image: {{ traefik_image }}:{{ traefik_version }}
    ports:
{% if traefik_use_swarm %}
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
{% else %}
      - "80:80"
      - "443:443"
{% endif %}
{% if traefik_dashboard_enable and not traefik_use_swarm %}
    expose:
      - {{ traefik_dashboard_entrypoint_port }}
{% endif %}
    networks:
      - {{ traefik_docker_network }}
      - traefik_lan
{% if traefik_dashboard_enable %}
    labels:
      - "traefik.port={{ traefik_dashboard_entrypoint_port }}"
      - "traefik.docker.network={{ traefik_docker_network }}"
      - "traefik.backend=traefik"
      - "traefik.frontend.rule=Host:traefik.{{ traefik_docker_domain | default(inventory_hostname) }}"
      - "traefik.enable=true"
{% endif %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ traefik_directory }}/traefik.toml:/traefik.toml
{% if traefik_acme_enable %}
{% if not traefik_consul_enable %}
      - {{ traefik_directory }}/acme.json:/acme.json
{% endif %}
{% endif %}
{% if not traefik_use_swarm %}
    container_name: traefik
    restart: always
{% else %}
    deploy:
      mode: global
{% if traefik_dashboard_enable %}
      labels:
        - "traefik.port={{ traefik_dashboard_entrypoint_port }}"
        - "traefik.docker.network={{ traefik_docker_network }}"
        - "traefik.backend=traefik"
        - "traefik.frontend.rule=Host:traefik.{{ traefik_docker_domain | default(inventory_hostname) }}"
        - "traefik.enable=true"
      placement:
        constraints:
          - node.role == manager
{% endif %}
{% endif %}

networks:
  traefik_lan:
  {{ traefik_docker_network }}:
    external: true

{% if traefik_consul_enable %}
volumes:
  consul-data:
{% endif %}
